.header {
    color: #32b9cd;
    border-bottom: 3px solid #32b9cd;
}

body {
    margin: 0;
    background-color: black;
    font-family: monospace;
}

.container {
    width: 80%;
    margin: auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    width: 600px;
    align-items: center;
    color: #E3b062;
}

.agora {
    font-weight: 1000;
}

.banner {
    height: 500px;
    background-image: URL(jellyfish.png);
    background-size: cover;
}

.banner .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white
}

.banner .container p {
    width: 280px;
    margin: 0;
    padding: 0;
    font-size: 36px;
    color: white;
}

.banner span {
    font-weight: 1000;
}

li a {
    text-decoration: none;
    color: #E3b062;
}

.form-box {
    display: flex;
    flex-direction: column;

}

input {
    height: 30px;
    border: 2px solid #32b9cd;
    border-radius: 10px;
}

.div_button {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}

.button_cadastrar {
    font-family: monospace;
    border-width: 2px;
    border-color: #e6005a;
    border-style: solid;
    border-radius: 5px;
    font-weight: 1000;
    font-size: 18px;
    color: white;
    background-color: #e6005a;
    padding: 0;
    width: 110px;
    align-self: center;
}

.button_entrar {
    font-family: monospace;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #e6005a;
    font-weight: 1000;
    font-size: 18px;
    color: #e6005a;
    background-color: white;
    padding: 0;
    width: 110px;
    align-self: center;
}

.card {
    background-color: #e5e5e5;
    height: 450px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #e6005a;
}

.footer {
    display: flex;
    background-color: #32b9cd;
    padding: 0;
    margin: 0;
    color: white;
    height: 160px;
}

.footer h4 {
    margin: 0;
    padding: 0;

}

.footer .container{
    margin-top:  10px;
    display: flex;
    justify-content: center;
}